<% if @orders.present?%>
  <div class="row">
    <% @orders.each do |order| %>
     <%= render partial: 'layouts/orders/card', locals: { order: order }%>
    <% end %>
  </div>
  <%= render partial: 'layouts/pagination', locals: { records: @orders }%>
<% else %>
  <div class="row justify-content-center">
    <h3 class="mt-4"> No narwhal order. </h2>
  </div>
<% end %>
