/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

@import 'pagination';

.background-grey {
  background-color: #f4f6f8;
}

.container {
  margin: 0 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.narwhal-order {
  overflow:visible;
  position:relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
  &-wrapper {
  margin-left: 5%;
  }

  &-body {
    padding: 2rem 3rem;
  }
}

.icon-wrapper {
  position: absolute;
  top: 28%;
  left: -30px;
}

.order-number {
  color: #616870;
}
